::ng-deep {
    .mat-mdc-dialog-surface {
        resize: both;
        display: flex;
        flex-direction: column;
    }
}

:host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    padding-top: 16px;
}

.dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-grow: 1;
    padding:8px;
    background-color: cornflowerblue;
    color: white;
    max-height: 50px !important;

    .dialog-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 32px;
    }
}

.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    padding: 16px;
    height: 60vh;
    max-height: none !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    flex-grow: 1;
    align-items: start;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
}

.dialog-actions {
    max-height: 50px !important;
}

.dialog-header-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex-grow: 1;
    padding:8px;
    color: white;
    max-height: 50px !important;
}