<div class="dialog-header" mat-dialog-title>
  <div class="dialog-title">
    <mat-icon>account_balance</mat-icon>
    <span>Firm Details</span>
  </div>
  <div class="dialog-header-actions">
    <mat-slide-toggle [checked]="checked" (change)="onToggleChange($event)">Advance/Basic</mat-slide-toggle>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div class="dialog-content" mat-dialog-content>
  <div class="form-wrapper">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <h3>Firm Info</h3>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Code</mat-label>
              <input matInput placeholder="Code" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Id</mat-label>
              <input matInput placeholder="Id" required>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" required>
          </mat-form-field>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Website</mat-label>
              <input matInput placeholder="Website" required>
            </mat-form-field>
            <mat-checkbox>Inactive</mat-checkbox>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Offset Method</mat-label>
            <input matInput placeholder="Offset Method" required>
          </mat-form-field>
        </div>
        <div class="form-group" *ngIf="checked">
          <h3>Remarks</h3>
          <mat-form-field appearance="outline">
            <mat-label>Remarks</mat-label>
            <textarea matInput placeholder="Remarks"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <h3>Contact Info</h3>
          <mat-form-field appearance="outline">
            <mat-label>Contact Person</mat-label>
            <input matInput placeholder="Contact Person" >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" required>
          </mat-form-field>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <input matInput placeholder="State" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Zip code</mat-label>
              <input matInput placeholder="Zip code" required>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" *ngIf="checked">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="checked">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="form-wrapper">
    <div class="col">
      <div class="form-group" >
        <h3>Fees/Comm.Template</h3>
        <mat-form-field appearance="outline">
          <mat-label>Fees/Comm.Template</mat-label>
          <input matInput placeholder="Fees/Comm.Template" required>
        </mat-form-field>
      </div>

      <div class="form-group">
        <h3>Tax invoice</h3>
        <mat-checkbox> Generate Tax Invoice for all taxable account on this firm</mat-checkbox>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Tax Identification No / Registration No</mat-label>
            <input matInput placeholder="Tax Identification No / Registration No" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Settlement No</mat-label>
            <input matInput placeholder="Settlement No" required>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group" *ngIf="checked">
        <h3>Statements Logo</h3>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Statements Logo</mat-label>
            <mat-select placeholder="Logo">
              <mat-option value="1">Bank Name</mat-option>
              <mat-option value="2">Bank Name</mat-option>
              <mat-option value="3">Bank Name</mat-option>
            </mat-select>
          </mat-form-field>
          <img src="https://sim1.quicksuitetrading.com/wlc/logo_POther.png" />
        </div>
      </div>
    </div>

  </div>
</div>
<div class="dialog-actions" mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</div>

<!-- Copyright 2024 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->