body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html, body {
  height: 100%;
}

.mat-resize-dialog-container .mat-mdc-dialog-container {
  width: 50%;
  margin: auto;
  min-width: 50vw;
  min-height: 50vh !important;
  resize: both;
}